<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<servlet>
		<servlet-name>dispatcher123</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!--If don't config, will to find <name>-servlet.xml -->
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>WEB-INF/dispatcher123-servlet.xml</param-value>
		</init-param>

	</servlet>

	<servlet-mapping>
		<servlet-name>dispatcher123</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!-- 使用部署描述符配置多个filter，根据filter定义的前后顺序，决定其执行顺序 -->
	<filter>
		<filter-name>DownloadCounterFilter</filter-name>
		<filter-class>com.shixzh.spring.wpac.filter.DownloadCounterFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>DownloadCounterFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>